@import '../../../../styles/variables';

.works { padding: 30px 15px;
  &__title { font-size: 1.3rem; font-weight: 400; }

  @media (max-width: $tablet) {
    &__title { text-align: center; }
  }
}