@import '../../styles/variables';

.blog { margin-top: 150px !important;
  &__title { @include page-title; margin-bottom: 35px; }
  &__post { padding: 30px 0; border-bottom: 1px solid $grey; }

  @media (max-width: $tablet) { margin-top: 100px !important;
    &__title { margin-bottom: 5px; }
  }
}