// fonts
$font: 16px;

// displays
$tablet: 1024px;
$mobile: 768px;

// colors
$black: #000000;
$white: #FFFFFF;
$grey: #E0E0E0;
$background: #EDF7FA;
$text: #21243D;
$accent: #FF6464;
$blue: #00A8CC;

@mixin transition-common {
  transition: all 0.2s ease-in;
}